.text-line-height{
    line-height: 24px;;
}

.about-numeric{
    font-size: 48px;
    font-weight: 700;
    color: #717BBC;
}

.about-sub-letter{
    font-size: 20px;
    font-weight: 600;
    color: #475467;
}

.about-card-letter{
    font-size: 18px;
    font-weight: 600;
    color: #98A2B3;
}

.about-more-btn{
    border-color: #D0D5DD;
    border-radius: 0;
    width:178px;
    height:48px;
    padding:12px 32px;
    background-color:white;
    font-size: 16px;
    color:#475467;
}

.about-more-btn:hover{
    border-color: #D0D5DD;
    border-radius: 0;
    width:178px;
    height:48px;
    padding:12px 32px;
    font-size: 16px;
    background-color:black;
    color:white;
}