.floating-button {
    position: fixed;
    left: 92%;
    top: 50%;
    rotate: 270deg;
    border:none;
    width:178px;
    height:48px;
    /* padding:12px 32px; */
    background-color:white;
    font-size: 16px;
    color:#475467;
  }

  .icon-css{
    position: absolute;
    /* margin-bottom: -10% !important; */
    margin-top: 45% !important;
    margin-left:12px;
  }